---
button_url: 'milky-reserva.html'
---

<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header-logueado.html %}

        <section class="ficha-evento section-intro">
            <div class="wrap">
                <div class="feature">
                    <div class="titulo">
                        <h2 class="h1">YA TIENES TUS ENTRADAS</h2>
                        <p class="h2-complementary">Tu reserva se ha relizado con éxito</p>
                    </div>
                    <img src="../assets/images/billete.jpg" alt="">
                </div>
                <div class="details">
                    <h2>Detalles del evento</h2>
                    <p>Nombre del evento: Milky way Express</p>
                    <p>Fecha y hora: 28 de Febrero 2015 18:00-24:00</p>
                    <p>Número de entradas: 2 </p>
                    <h3>Dirección:</h3>
                    <p><a href="https://www.google.es/maps/place/Carrer+de+Pujades,+229,+08005+Barcelona/@41.4039127,2.2034573,17z/data=!3m1!4b1!4m2!3m1!1s0x12a4a33f6792c8d7:0x7e75ba333010684c?hl=en">Carrer De Pujades, 229, Atico 1º</a></p>
                    <p>Indicaciones: a 25m del metro Poblenou</p>
                    <p>Detalles de pago: 6€ en puerta.</p>
                    <h3>Datos de contacto</h3>
                    <p>Milky way</p>
                    <p>Teléfono: +34-639322433</p>
                </div>
                <div class="details">
                    <h2>Más información</h2>
                    <p>Recuerda que el precio del evento es de 6€ por persona.</p>
                    <p>El pago se realiza el día del evento en la propia casa del creador.</p>
                    <a href="lista-eventos-logueado.html" class="btn btn-primary">buscar más eventos</a>
                </div>
            </div>
        </section>


        {% include footer.html %}
    </body>
</html>