<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header-logueado.html %}


<div class="top-heading">
    <div class="wrap">
      <div class="top-heading_text">
        <h1>ROOOF</h1>
        <p>Conciertos, teatro y gastronomía en casas de Barcelona</p>
        <div class="button__wrap">
          <a href="lista-eventos-logueado.html" class="btn btn.primary btn-lg">
               Buscar eventos</a>
        </div>
      </div>
    </div>
</div>

<div class="wrap">

<div class="sugerencias section">
    <div class="titulo">
        <h2 class="h1">NO TE ABURRAS EL FIN DE SEMANA</h2>
        <p class="h2-complementary">en ROOOF tenemos planes para ti</p>
    </div>

        <ul class="evento">
            <li class="uno evento-item">
                <a href="cocodrila-reserva.html">
                    <div class="vertical-center">
                        <h3 class="evento-item_title">COCODRILA</h3>
                        <p class=" evento-item_tag tag-arte">
                        <p>
                    </div>
                </a>
            </li>
            <li class="dos evento-item">
                <a href="milky-reserva.html">
                    <div class="vertical-center">
                        <h3 class="evento-item_title">THE MILKY WAY EXPRESS</h3>
                        <p class="evento-item_tag tag-gastronomia">
                        </p>
                        <p class="evento-item_tag tag-arte">
                        </p>
                    </div>
                </a>
            </li>
            <li class="tres evento-item">
                <a href="solose-reserva.html">
                    <div class="vertical-center">
                        <h3 class="evento-item_title">SÓLO SÉ QUE NO SÉ NADA</h3>
                        <p class="evento-item_tag tag-teatro">
                        </p>
                    </div>
                </a>
            </li>
            <li class="cuatro evento-item">
                <a href="vietnamita-reserva.html">
                    <div class="vertical-center">
                        <h3 class="evento-item_title">VIETNAMESE FOOD EXPERIENCE</h3>
                        <p class="evento-item_tag tag-gastronomia">
                        </p>
                    </div>
                </a>
            </li>
            <li class="cinco evento-item">
                <a href="band-reserva.html">
                    <div class="vertical-center">
                        <h3 class="evento-item_title">A BAND APART</h3>
                      <p class="evento-item_tag tag-musica"></p>
                      <p class="evento-item_tag tag-humor"></p>
                    </div>
                </a>
            </li>
            <li class="seis evento-item">
                <a href="picnic-reserva.html">
                    <div class="vertical-center">
                        <h3 class="evento-item_title">PICNIC</h3>
                        <p class="evento-item_tag tag-arte">
                        </p>
                    </div>
                </a>
            </li>
        </ul>
</div>

</div>
<div class="push"></div>
<div class="busca">
  <div class="button__wrap">
    <a href="lista-eventos.html" class="btn btn.primary btn-lg">Buscar eventos</a>
  </div>
</div>
<div class="asistir section">
    <div class="wrap row">
        <div class="titulo">
            <h2 class="h1">CÓMO ASISTIR A UN EVENTO</h2>
            <p class="h2-complementary">Parece fácil y lo es</p>
        </div>
        <div class="push"></div>
        <div class="icon-text columns small-20 small-centered medium-8 medium-uncentered large-8">
            <div class="icons columns small-centered">
                <img alt="resérvalo"src="../assets/images/ico-lupa.png">
            </div>
            <div class="columns small-18 small-centered">
              <h3>Elige el plan</h3>
              <p>Escoge el evento que más te guste. Música, gastronomía, teatro...</p>
            </div>
        </div>
        <div class="icon-text columns small-20 small-centered medium-8 medium-uncentered large-8">
            <div class="icons columns small-centered">
                <img alt="resérvalo"src="../assets/images/ico-ticket-1.png">
            </div>
            <div class="columns small-18 small-centered">
              <h3>Resérvalo</h3>
              <p>Haz tu reserva y paga el día del evento en casa del artista.<br>Nosotros te enviaremos la dirección completa una vez que hayas reservado.</p>
            </div>
        </div>
        <div class="icon-text columns small-20 small-centered medium-8 medium-uncentered large-8">
            <div class="icons columns small-centered">
                <img alt="resérvalo"src="../assets/images/ico-corazon.png">
            </div>
            <div class="columns small-18 small-centered">
              <h3>Disfruta del evento</h3>
              <p>Acude a tu cita y<br>¡Disfruta la experiencia!</p>
            </div>
        </div>
    </div>
</div>
<div class="push"></div>

<section class="banner banner-crear">
    <div class="container">
        <div class=" text ">
                <h1>hazte creador</h1>

                <p>¿Tienes algo que mostrar? Con Rooof es muy fácil: tu pones el talento, nosotros te llevamos el público a casa.</p>

            </div>
            <div class="text-center button__wrap">

                    <a href="crea-logueado.html" class="btn btn-lg">crea tu evento</a>
        </div>
    </div>
</section>

{% include footer.html %}

    </body>

</html>
