
<!DOCTYPE HTML>
<html>
{% include head.html %}

    <body>

        {% include header-logueado.html %}

<section class="perfil-user section-intro">
  <div class="wrap">

        <div class="titulo__wrap perfil-user-vacio">
            <div class="perfil-user-img">
              <img class=""src="../assets/images/perfil-user-vacio.png">
            </div>
            <div class=" contact-user text-center">
                <p class="p-complementary link"> <a href="perfil-editar.html">Editar perfil</a> </p>
            </div>
        </div>

  </div>

 <div class="divider-dark"></div>

    <div class="wrap">
      <div class="perfil-info row">
        <div class="perfil-info-item columns large-offset-6 small-7  medium-7 large-4">
          <p class="p-complementary">Eventos disfrutados</p>
          <p class="h2 datos">00</p>
        </div>

         <div class="perfil-info-item-border columns  small-7 medium-7 large-4">
          <p class="p-complementary">Eventos creados</p>
          <p class="h2 datos">00</p>
        </div>

        <div class="perfil-info-item columns small-7 medium-7 large-4 end">
          <p class="p-complementary">Intereses</p>
          <div class="tags">
              <p class="p-complementary link"> <a href="perfil-editar.html">Edita tus intereses</a> </p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="perfil-eventos">
  <div class="wrap">
    <div class="eventos-disfrutados">
      <div class="titulo">
          <h2 class="h2-secondary text-centre">Últimos eventos disfrutados</h2>
          <p class="p-complementary">Aún no has asistido a ningún evento.</p>
          <p class="p-complementary">Busca un plan para hacer con tus amigos.</p>
      </div>
      <div class="button__wrap">
        <a href="lista-eventos-logueado.html" class="btn btn-primary">Buscar eventos</a>
      </div>
    </div>
  </div>
</div>

  <div class="divider-dark"></div>

  <div class="wrap">
    <div class="eventos-creados">
      <div class="titulo">
          <h2 class="h2-secondary text-centre">Últimos eventos creados</h2>
          <p class="p-complementary">¿Todavía no eres creador?</p>
          <p class="p-complementary">Crea tu primer evento.</p>
      </div>
      <div class="button__wrap">
        <a href="crea-logueado.html" class="btn btn-primary">Crear evento</a>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}

</body>

</html>