<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

<section class="ficha-evento section-intro">
  <div class="wrap">
    <div class="titulo">
      <h2 class="h1">PICNIC</h2>
      <p class="h2-complementary">Exposición multidisciplinar en nuestro atelier</p>
    </div>
    <div class="row">
      <div class="large-18 medium-16 columns">
        <img class="img-main" src="../assets/images/picnic.png">
        <div class="main-container">

          <h2>Sobre el evento</h2>
          <p>Picnic es un conjunto de obras influenciadas por el comic japonés, que dejan ver personajes con actitudes unas veces apacibles, otras terroríficas, en un juego de dualidad entre la inocencia y el lado oscuro.</p>
          <p>Te esperamos en esta inauguración única, en nuestro atelier.</p>
          <p>Esperamos  que te guste!</p>

          <div class="map map-full"></div>

          <div class="divider"></div>

          <div class="sobre-host__wrap">
            <div class="clearfix">
              <div class="title">
                <img class="host-img"src="../assets/images/troll.png">
                <h2>Sobre Colectivo Fantasma</h2>
                <h3 class="h6-complementary">Creador del evento</h3>
              </div>

              <div class="right">
                <a href="perfil.html" class="btn btn.primary btn-sm">Ver perfil</a>
              </div>
            </div>

            <p>Colectivo Fantasma se nutre de la llegada del graffiti en los 90. Nacidos en Cataluña pero con influencias del cómic europeo y japonés, y un claro interés por el grafismo, crean un estilo subversivo a través de muros, dibujos y telas.</p>
            <p class="more-info">Más info<a href="http://CollectivoFantasma.com/"> www.ColectivoFantasma.com</p></a>


          </div>
        </div>

      </div>
      <aside class=" aside large-6 medium-8 columns">
        <h4 class="h4-complementary">DETALLES DEL EVENTO</h4>

        <div class="">
          <p class="tag-arte"></p>
          <p class="tag-expo"></p>
        </div>

        <div class="info">

          <h5 class=" fecha h5-complementary">Fecha</h5>
          <p class="p-complementary">Viernes 6 Marzo, 18:00-22:00h</p>

          <h5 class="lugar h5-complementary">Lugar</h5>
          <p class="p-complementary">Gótico</p>

          <h5 class="aforo h5-complementary">Aforo</h5>
          <p class="p-complementary">40 personas</p>

        </div>

        <div class="main-precio"><p class="p-complementary">Gratis</p></div>
        <div class="ticket__warp">
          <div class="border-ticket">
            <div class="ticket">
              <h4>Escoge tu entrada</h4>
              <ul>
                <li><input type="radio" name="radio-btn"/>  Voy solo</li>
                <li><input type="radio" name="radio-btn"/> +1 Voy con un amigo</li>
              </ul>

            </div>
          </div>
          <button class="btn btn-full registro">RESERVAR ENTRADA</button>
        </div>


        <div class="clearfix">
          <div class="compartir__wrap">
            <a href=""><img src="../assets/images/social-twitter-333.png"></a>
            <a href=""><img src="../assets/images/social-facebook-333.png"></a>
          </div>
        </div>
      </aside>
    </div>


  </section>

  <section class="lista-eventos">
    <div class="wrap">
      <div class="secondary-title__wrap row">
          <div class="map map-responsive">
              <h2 class="h3-complementary">Ver en el mapa</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11971.307311189796!2d2.20226760000001!3d41.39956699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a3154b13aea1%3A0x7a6055adf5edd733!2sEl+Poblenou%2C+Barcelona!5e0!3m2!1ses!2ses!4v1427888282111" width="100%" height="350" frameborder="0" style="border:0"></iframe>
          </div>
        <h2 class="h3-complementary columns small-push-1 small-20 medium-push-0">Eventos relacionados</h2>
      </div>

      <ul class="row">
        <li class=" columns small-22 small-centered medium-12 medium-uncentered large-6">
          <div class="lista-evento-item">

            <a class="event-list_container" href="milky.html">
              <div class="precio"><p class="p-complementary">6€/persona</p></div>
              <img alt=""src="../assets/images/destacado_evento_2.jpg">
            </a>

            <div class="evento-info four-columns">
              <a href="milky.html">
                <h3 class="h3-complementary">The Milky Way Express</h3>
              </a>
              <p class="p-complementary">Rock sueño a la parrilla en nuestro terrado.</p>
              <div class="tags">
                <p class="tag-musica"></p>
                <p class="tag-gastronomia"href=""></p>
              </div>
            </div>

            <div class="evento-footer row">

              <div class="host-info">
                <div class="host-img">
                  <img class="host-img"src="../assets/images/host01.jpg">
                </div>

                <div class="host-name">
                  <p><a class="host-link" href="perfil.html">Por Milky way</a></p>
                </div>
              </div>


              <div class="btn-lista-evento">
                <a class="btn btn-sm btn-secondary" href="milky.html">ver más</a>
              </div>

            </div>
          </div>
        </li> <!--fin .span4-->

        <li class=" columns small-22 small-centered medium-12 medium-uncentered large-6">
          <div class="lista-evento-item">
            <a class="event-list_container" href="solose.html">
              <div class="precio"><p class="p-complementary">12€/persona</p></div>

              <img alt=""src="../assets/images/destacado_evento_3.jpg">
            </a>

            <div class="evento-info four-columns">
              <a href="solose.html">
                <h3 class="h3-complementary">Sólo sé que no se nada</h3>
              </a>
              <p class="p-complementary">Una obra nada clásica en mi patio.</p>
              <div class="tags">
                <p class="tag-teatro"></p>
              </div>
            </div>

            <div class="evento-footer row">

              <div class="host-info">
                <div class="host-img">
                  <img class="host-img"src="../assets/images/host03.jpg">
                </div>

                <div class="host-name">
                  <p><a class="" href="perfil.html">Por Carmen</a></p>
                </div>
              </div>


              <div class="btn-lista-evento">
                <a class="btn btn-sm btn-secondary" href="solose.html">ver más</a>
              </div>

            </div>
          </div>
        </li>

        <li class=" columns small-22 small-centered medium-12 medium-uncentered large-6">
          <div class="lista-evento-item">
            <a class="event-list_container" href="vietnamita.html">
              <div class="precio"><p class="p-complementary">12€/persona</p></div>
              <img alt=""src="../assets/images/destacado_evento_4.jpg">
            </a>

            <div class="evento-info four-columns">
              <a href="vietnamita.html">
                <h3 class="h3-complementary">Vietnamese food experience</h3>
              </a>
              <p class="p-complementary">Descubre la auténtica comida de Vietnam en una casa acogedora.</p>
              <div class="tags">

                <p class="tag-gastronomia"href=""></p>
              </div>
            </div>

            <div class="evento-footer row">

              <div class="host-info">
                <div class="host-img">
                  <img class="host-img"src="../assets/images/host04.jpg">
                </div>

                <div class="host-name">
                  <p><a class="" href="perfil.html">Por Tutu</a></p>
                </div>
              </div>


              <div class="btn-lista-evento">
                <a class="btn btn-sm btn-secondary" href="vietnamita.html">ver más</a>
              </div>

            </div>
          </div>
        </li>

        <li class=" columns small-22 small-centered medium-12 medium-uncentered large-6">
            <div class="lista-evento-item">
                <a class="event-list_container" href="band.html">
                  <div class="precio"><p class="p-complementary">12€/persona</p></div>
                  <img alt=""src="../assets/images/destacado_evento_5.jpg">
                </a>

                <div class="evento-info four-columns">
                    <a href="band.html">
                      <h3 class="h3-complementary">A Band Apart</h3>
                    </a>
                    <p class="p-complementary">Funky, monólogos y humor en nuestra casa.</p>
                    <div class="tags">
                        <p class="tag-musica"></p>
                        <p class="tag-humor"href=""></p>
                    </div>
                </div>

                <div class="evento-footer row">

                <div class="host-info">
                  <div class="host-img">
                    <img class="host-img"src="../assets/images/host05.jpg">
                  </div>

                  <div class="host-name">
                    <p><a class="" href="perfil.html">Por locos</a></p>
                  </div>
                </div>


              <div class="btn-lista-evento">
                <a class="btn btn-sm btn-secondary" href="band.html">ver más</a>
              </div>

            </div>
            </li>
    </ul>
  </div>
</section>
{% include footer.html %}

<script>
            $(document).ready(function(){
                var windowWidth = $(window).width();
                var mapDesktopContainer = $( ".map-full" );
                var mapMobileContainer = $( ".map-responsive" );
                var map = mapMobileContainer.find("iframe");
                if(windowWidth > 642) {
                    mapDesktopContainer.append(map);
                }

                $(window).resize(function() {
                    windowWidth = $(window).width();
                    if(windowWidth <= 642) {
                    mapMobileContainer.append(map);
                    } else {
                        mapDesktopContainer.append(map);
                    }
                })
            })
        </script>

    </body>

</html>
