<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header-logueado.html %}

    <div class="slider-wrap">
        <div class="slider"><a class="arrow next"></a><a class="arrow prev"></a>
            <ul>
                <li data-slide-title="Bridge" class="active featureOne">
                  <div class="content">
                    <h2>ROOOF ES</h2>
                    <h1>CULTURA HOMEMADE</h1>
                    <P>Conciertos, teatro, música, gastronomía, arte... Vete a casa del artista y vive el evento en primera persona, con un grupo reducido de gente y conoce al creador.</P>
                  </div>
                </li>
                <li class="featureTwo">
                  <div class="content">
                    <h2>ROOOF ES</h2>
                    <h1>AMIGOS HOMEMADE</h1>
                    <P>Participa en una comunidad de gente apasionada por la cultura. Conoce gente con tus mismos intereses culturales, y colabora con artistas locales.</P>
                  </div>
                </li>
                <li class="featureThree">
                  <div class="content">
                    <h2>ROOOF ES</h2>
                    <h1>PLANES HOMEMADE</h1>
                    <p>Asiste a eventos creados por artistas emergentes y realizados en su propia casa.</p>
                    <p>Entérate que está pasando en los tejados de Barcelona.</p>
                  </div>
                </li>
            </ul>
        </div>
        <script>
        $('.slider').saSlider();
        </script>
    </div>


<div class="push"></div>

  <div class="wrap">
      <div class="row section">
        <div class="columns large-18 large-centered  small-20 small-centered ">
        <div class="titulo somos-text">
            <h1>De qué va todo esto</h1>
            <p class="h2-complementary">Nosotros aún nos lo seguimos preguntando</p>
            <p>Rooof es una comunidad de gente apasionada por la cultura.</P>
            <p>Nos gusta conocer nuevos cantantes y grupos de m&uacute;sica, nos gusta asistir a obras de teatro e interactuar con los actores y nos gusta descubrir nuevos sabores de otros pa&iacute;ses. Para ello hemos creado este lugar donde cocineros, m&uacute;sicos, actores y lo que haga falta creen sus eventos en sus casas y otras personas puedan ir a disfrutar junto a ellos de su arte.</p>
        </div>
      </div>
    </div>
  </div>

<div class="asistir section">
    <div class="wrap row">
        <div class="titulo">
            <h2 class="h1">CÓMO ASISTIR A UN EVENTO</h2>
            <p class="h2-complementary">Parece fácil y lo es</p>
        </div>
        <div class="push"></div>
        <div class="icon-text columns small-20 small-centered medium-8 medium-uncentered large-8">
            <div class="icons columns small-centered">
                <p>1</p>
            </div>
            <div class="columns small-18 small-centered">
              <h3>Elige el plan</h3>
              <p>Escoge el evento que más te guste. Música, gastronomía, teatro...</p>
            </div>
        </div>
        <div class="icon-text columns small-20 small-centered medium-8 medium-uncentered large-8">
            <div class="icons columns small-centered">
                <p>2</p>
            </div>
            <div class="columns small-18 small-centered">
              <h3>Resérvalo</h3>
              <p>Haz tu reserva y paga el día del evento en casa del artista.<br>Nosotros te enviaremos la dirección completa una vez que hayas reservado.</p>
            </div>
        </div>
        <div class="icon-text columns small-20 small-centered medium-8 medium-uncentered large-8">
            <div class="icons columns small-centered">
                <p>3</p>
            </div>
            <div class="columns small-18 small-centered">
              <h3>Disfruta del evento</h3>
              <p>Acude a tu cita y<br>¡Disfruta la experiencia!</p>
            </div>
        </div>
    </div>
</div>


<section class="banner banner-buscar">
    <div class="container">
        <div class=" text ">
                <h1>No te quedes en casa</h1>

                <p>En ROOOF tenemos planes para ti. Descubre los eventos más interesantes en los tejados de Barcelona.</p>

            </div>
            <div class="text-center button__wrap">
                  <a href="lista-eventos.html" class="btn btn.primary btn-lg">Buscar eventos</a>
          </div>
    </div>
</section>
{% include footer.html %}

    </body>

</html>
