// perfil-editar

section.perfil-editar{
    background: url(../img/pattern-backg.png) repeat;
    background-color: $bg-color;

    .perfil-user-img{
        height: 150px;
        float: none;
        margin: 0 auto;
        width: 150px;
    }
    img{
        border-radius: 50%;
    }
}

.form__wrap{
    background-color: white;
    margin: 0 auto;
    padding: 60px;
}

.titulo_form__wrap{
    padding: 40px 0px 20px 0px;
}


.triangulo{
     width: 0;
     height: 0;
     border-right: 30px solid transparent;
     border-top: 0px solid transparent;
     border-left: 30px solid transparent;
     border-bottom: 30px solid white;
     margin: 0 auto;
     }


.titulo_form__wrap_first{
    padding: 10px 0px 20px 0px;
}

//dropdown

.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
}
.dropdown a,
.dropdown a:visited {
    color:#fff;
    text-decoration:none;
    outline:none;
    font-size: 12px;
}
.dropdown dt a {
    display:block;
    overflow: hidden;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 100%;
}
.dropdown dt a span, .multiSel span {
    color: #ccc;
    cursor:pointer;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 180%;
    margin-left: 10px;
    overflow: hidden;
}

.multiSel span {
    color: $c-main-gray!important;
}
.dropdown dd ul {
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: $c-Lightest;
    color:#333;
    display:none;
    padding: 0;
    position:absolute;
    width: 100%;
    list-style:none;
    overflow: auto;
    z-index: 2;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li {
    border-bottom: solid 1px #ccc;
    padding: 5px 0 5px 10px;
    display:block;
}
.dropdown dd ul li:hover {
    background-color: #ccc;
}