<header>
    <div class="wrap">
        <div class="logo"><a href="index-logueado.html">ROOOF</a></div>
        <nav>
            <ul class="left">
                <li><a href="somos-logueado.html">¿Qu&eacute; es ROOOF?</a></li>
                <li><a href="lista-eventos-logueado.html">Busca un evento</a></li>
                <li><a href="crea-logueado.html">Crea tu evento</a></li>
                <li>

                </li>
            </ul>
            <div class="foologin">
                <a class="sregistro" href="perfil-vacio.html">Mi Perfil</a>
                <ul class="dropdownito">
                    <li><a href="perfil-vacio.html">Mi perfil</a></li>
                    <li><a href="perfil-editar.html">Editar perfil</a></li>
                    <li><a href="{{ page.logout_url }}">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>

        <div class="nav-hamburger">
            <button class="hamburger">&#9776;</button>
            <button class="cross">&#735;</button>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a href="somos-logueado.html">¿Qu&eacute; es ROOOF?</a></li>
            <li><a href="lista-eventos-logueado.html">Busca un evento</a></li>
            <li><a href="crea-logueado.html">Crea tu evento</a></li>
            <li><a href="perfil-vacio.html">Mi Perfil</a></li>
            <li><a href="perfil-editar.html">Editar perfil</a></li>
            <li><a href="{{ page.logout_url }}">Cerrar sesión</a></li>
        </ul>
    </div>

    <script>
        $( ".cross" ).hide();
        $( ".menu" ).hide();
        $( ".hamburger" ).click(function() {
            $( ".menu" ).slideToggle( "slow", function() {
                $( ".hamburger" ).hide();
                $( ".cross" ).show();
            });
        });

        $( ".cross" ).click(function() {
            $( ".menu" ).slideToggle( "slow", function() {
                $( ".cross" ).hide();
                $( ".hamburger" ).show();
            });
        });

        $( 'nav > .sregistro' ).hover(function() {
            $( 'nav > .dropdownito' ).addClass( 'dropdownitoShow' );
        }, function() {
            $('nav > .dropdownito').removeClass("dropdownitoShow");
        });


        // $( 'nav > .sregistro' ).hover(function(event) {
        //     event.preventDefault();

        //     $( 'nav > .dropdownito' ).slideToggle(500);
        // });
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</header>
