<header>
    <div class="wrap">
        <div class="logo"><a href="index-logueado.html">ROOOF</a></div>
        <nav>
            <ul class="left">
                <li><a href="somos-logueado.html">¿Qu&eacute; es ROOOF?</a></li>
                <li><a href="lista-eventos-logueado.html">Busca un evento</a></li>
                <li><a href="crea-logueado.html">Crea tu evento</a></li>
            </ul>
            <button class="sregistro">Mi Perfil</button>
        </nav>

        <div class="nav-hamburger">
            <button class="hamburger">&#9776;</button>
            <button class="cross">&#735;</button>
        </div>
    </div>
    <div class="menu">
        <ul>
            <a href="somos-logueado.html"><li>¿Qu&eacute; es ROOOF?</li></a>
            <a href="lista-eventos-logueado.html"><li>Busca un evento</li></a>
            <a href="crea-logueado.html"><li>Crea tu evento</li></a>
            <a href="inicio-sesion-2.html"><li>Inicia sesión</li></a>
            <a href="inicio-sesion.html"><li>Regístrate</li></a>
        </ul>
    </div>

    <script>
        $( ".cross" ).hide();
        $( ".menu" ).hide();
        $( ".hamburger" ).click(function() {
            $( ".menu" ).slideToggle( "slow", function() {
                $( ".hamburger" ).hide();
                $( ".cross" ).show();
            });
        });

        $( ".cross" ).click(function() {
            $( ".menu" ).slideToggle( "slow", function() {
                $( ".cross" ).hide();
                $( ".hamburger" ).show();
            });
        });
    </script>
</header>
